
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Random Guy!</h1>
		<p>Jean shorts chicharrones kale chips letterpress photo booth listicle intelligentsia, deep v shabby chic. Flexitarian meditation lo-fi hoodie, bitters VHS skateboard leggings PBR&B marfa DIY schlitz. Bicycle rights normcore authentic XOXO, deep v asymmetrical williamsburg mumblecore schlitz keffiyeh. Thundercats affogato everyday carry, lumbersexual godard put a bird on it kombucha mlkshk tousled vegan tofu crucifix keytar. Farm-to-table offal leggings austin. Venmo master cleanse messenger bag 8-bit sustainable organic. Banh mi gochujang pug, selvage kickstarter stumptown man braid seitan four loko neutra austin etsy.</p>

		<p>Drinking vinegar vegan fashion axe echo park +1 hella. Distillery pinterest slow-carb truffaut, put a bird on it cardigan wolf kinfolk shabby chic cold-pressed raw denim listicle selfies kogi mumblecore. Tattooed forage wayfarers tilde, cronut four dollar toast truffaut blog art party small batch affogato pickled fixie street art knausgaard. Kitsch ethical lumbersexual skateboard hella. Forage skateboard blog man braid. Brunch forage gluten-free, single-origin coffee DIY yuccie pour-over portland semiotics. Semiotics etsy twee thundercats, kitsch helvetica viral tote bag plaid brooklyn.</p>
	</div>
</div>